
.env
/.venv
.pyc
src/erp/utils/__pycache__/__init__.cpython-312.pyc
/src/erp/utils/__pycache__
src/erp/warehouse/__pycache__/__init__.cpython-312.pyc
src/erp/warehouse/__init__.py
src/erp/warehouse/__pycache__/warehouse.cpython-312.pyc
src/mes/utils/__pycache__/Utils.cpython-312.pyc
src/mes/utils/__pycache__/Utils.cpython-311.pyc
src/erp/warehouse/__pycache__/warehouse.cpython-311.pyc
src/erp/warehouse/__pycache__/warehouse.cpython-311.pyc
src/erp/warehouse/__pycache__/warehouse.cpython-311.pyc
src/erp/lala
src/erp/lalala
src/erp/lalala
